<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Stellaris_Lobby_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Stellaris_Lobby_Manager.Properties.Settings>
            <setting name="lobbyName" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="overWriteWarning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lobbyOffset1" serializeAs="String">
                <value>41362280</value>
            </setting>
            <setting name="lobbyOffset2" serializeAs="String">
                <value>2248</value>
            </setting>
            <setting name="fullPrecision" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sizeOffset1" serializeAs="String">
                <value>42535000</value>
            </setting>
            <setting name="sizeOffset2" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="sizeCountOffset" serializeAs="String">
                <value>36</value>
            </setting>
            <setting name="shapeOffset" serializeAs="String">
                <value>368</value>
            </setting>
            <setting name="sizeStringOffset" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="shapeStringOffset" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="overflowOffset" serializeAs="String">
                <value>1515366</value>
            </setting>
            <setting name="canOverflow" serializeAs="String">
                <value>True</value>
            </setting>
        </Stellaris_Lobby_Manager.Properties.Settings>
    </userSettings>
</configuration>